* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	background-color: #1f273c;
	cursor: default;
}

@font-face {
	font-family: 'glass';
	src: url('../fonts/fontello-9c17623d/font/fontello.ttf');
}

#formDiv > h2 {
	float: left;
	color: white;
	margin: 0.75em 0 0 1em;
}

#formDiv > h2:hover {
	color: #f4de33;
}

a {
	text-decoration: none;
	color: #1f273c;
	cursor: default;
}

a:hover {
	color: #aee4e7;
}

#formDiv {
	width: 100%;
    padding: 1em 0 1em 0;
    text-align: right;
    position: fixed;
    top: 0;
    background-color: rgba(57, 68, 99, 0.8);
    z-index: 10;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.12);
}

form.active, .delete.active {
	display: none;
}



.formButton {
	padding: 1em;
	margin: 1em;
	background-color: #d7616c;
	border: 0;
	border-radius: 0.5em;
	font-weight: bold;
	color: white;
	font-size: 10px;
}

#editButton {
	padding: 1em;
	margin: 0.5em;
	background-color: #47a4a9;
	border: 0;
	border-radius: 0.5em;
	font-weight: bold;
	color: white;
	font-size: 10px;
}

#editButton:hover {
	background-color: #aee4e7;
	color: #1f273c;
}

.formButton:hover, .delete:hover {
	background-color: #ecb2b7;
	color: #1f273c;
}

form > p {
	font-size: 15px;
	margin: 0.5em 1em 0 0;
	color: white;
}

form > p:hover {
	color: #f4de33;
}

#logIn > input, #signUp > input, #editProfile > input {
	margin: 0.5em;
	padding: 0.6em;
	font-family: 'glass';
	font-size: 14px;
	background-color: #626c88;
	color: white;
	border-radius: 0.5em;
	border: #47a4a9 solid 2px;
}

#logIn > input {
	width: 22%;
}


#signUp > input {
	width: 22%;
}

#logoutButton, #editButton {
	margin-right: 2em;
}

.errorBorder {
	border: #d7616c 4px solid !important;
	box-shadow: 0 0 5px #d7616c;
}

section {
	width: 100%;
	margin-top: 10em;
	position: relative;
	height: 18em;
	text-align: center;
}

section > img {
	width: 35%;
	border-radius: 50%;
	border: #505b7a 5px solid;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.12);
}

section > h2 {
	margin-top: 1em;
	color: white;
}

section > p {
	display: block;
	margin: 0.5em 0 1em 0;
	font-weight: lighter;
	color: #505b7a;
}

input:focus, #searchButton:focus, button:focus, #xCircle:focus {
    outline-color: #d2e6e7;
}

#searchForm {
	width: 100%;
	text-align: center;
	margin-top: 19em;
}

#searchForm.position {
	margin-top: 1em;
}

#searchForm > input {
	width: 70%;
	padding: 1.5em;
	font-family: 'glass';
	font-size: 14px;
	background-color: #626c88;
	color: white;
	margin-bottom: 3em;
	border-radius: 0.5em;
	border: #47a4a9 solid 2px;
}

#searchButton {
	padding: 1.5em;
	width: 40%;
	border: 0;
	border-radius: 0.5em;
	font-weight: bold;
	background-color: #47a4a9;
	color: white;
	font-size: 14px;
}

#searchButton:hover {
	background-color: #aee4e7;
	color: #1f273c;
}

.hideMyGifs {
	display: none;
}

.hideGifContainer {
	display: none;
	background-color: #1f273c !important;
	padding: 0 !important;
}

.facebook:hover {
	color: #aee4e7;
}


ul {
	list-style: none;
	font-family: 'glass';
	color: #1f273c;
}

#searchGifContainer, #userGifContainer {
	width: 100%;
	margin-top: 3em;
	text-align: center;
}

.gifWrapper {
	background-color: #626c88;
	display: inline-block;
	text-align: center;
	border: 1em solid #1f273c;
	box-sizing: border-box;
	position: relative;
	border-radius: 1.5em;
	padding: 0 1em 2em 1em;
}

#xCircle {
	font-family: 'glass';
	color: #1f273c;
	position: absolute;
	top: 0.5em;
	right: 0.5em;
}

#xCircle:hover {
	color: #aee4e7;
}

li > img {
	width: 85%;
	height: auto;
	margin-top: 2em;
	margin-bottom: 0.25em;
	border-radius: 0.5em;
	border: #47a4a9 3px solid;
}

li > img:hover {
	box-shadow: 0 0 10px #d2e6e7;
}

a {
	text-decoration: none;
	color: #1f273c;
	cursor: default;
}

a:hover {
	color: #aee4e7;
}

.current {
	border: 7px solid #f4de33 !important;
	box-shadow: 0 0 10px #f4de33;
}

.delete {
	font-size: 10px;
	padding: 0.5em;
	border-radius: 5%;
	background-color: #d7616c;
	border: 0;
	border-radius: 0.5em;
	font-weight: bold;
	color: white;
}

/* ---------------- TRANSITIONS ------------- */
/*
button{
	-webkit-transition: linear .25s;
	transition: linear .25s;
}
button.ng-enter{
	opacity: 0;
}

button.ng-enter-active{
	opacity: 1;
}

button.ng-leave{
	opacity: .25;
}

button.ng-leave-active{
	opacity: 0;
}*/


#searchForm{
	-webkit-transition: linear .5s;
	transition: linear .5s;
}

#searchForm.ng-enter{
	opacity: 0;
}

#searchForm.ng-enter-active{
	opacity: 1;
}

#searchForm.ng-leave{
	opacity: 1;
}

#searchForm.ng-leave-active{
	opacity: 0;
}

/* ---------------- END TRANSITIONS ------------- */





@media (min-width: 560px) {  /* <----------------------- MIN-WIDTH 560px */

	section > img {
		width: 206px;
	}

	#searchForm.position {
		margin-top: 2em;
	}
}

@media (min-width: 600px) {  /* <----------------------- MIN-WIDTH 600px */

	li > img {
		width: auto !important;
		height: 200px !important;
	}

	li {
		display: inline-block;
		margin: 0 0.5em 0 0.5em;
	}

}

@media (min-width: 620px) {  /* <----------------------- MIN-WIDTH 620px */

	#searchForm.position {
		margin-top: 3em;
	}

	#searchForm > input {
		width: 434px;
	}

	#searchButton {
		width: 248px;
	}	
	
}

@media (min-width: 800px) { /* <----------------------- MIN-WIDTH 800px */

	section > h2 {
		height: 28px;
	}

	section > p {
		height: 18px;
	}

}



