* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	background-color: #1f273c;
}

@font-face {
	font-family: 'glass';
	src: url('../fonts/fontello-1798be74/font/fontello.ttf');
}

#formDiv {
	width: 100%;
    padding: 1em 0 1em 0;
    text-align: center;
    position: fixed;
    top: 0;
    background-color: rgba(57, 68, 99, 0.8);
    z-index: 10;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.12);
}

form.active, .delete.active {
	display: none;
}

.formButton {
	padding: 1em;
	margin: 0.5em;
	background-color: #d7616c;
	border: 0;
	border-radius: 0.5em;
	font-weight: bold;
	color: white;
	font-size: 10px;
}

.formButton:hover, .delete:hover {
	background-color: #ecb2b7;
	color: #1f273c;
}


form > p {
	font-size: 15px;
	margin-left: 1em;
	color: white;
}


#logIn > input, #signUp > input {
	margin: 0.5em;
	padding: 0.5em;
	font-family: 'glass';
	font-size: 14px;
	background-color: #626c88;
	color: white;
	border-radius: 0.5em;
	border: #47a4a9 solid 2px;
}


#logIn > input {
	width: 30%;
}


#signUp > input {
	width: 25%;
}

#logoutButton {
	float: right;
	margin-right: 2em;
}


section {
	width: 100%;
	margin-top: 9em;
	position: relative;
	height: 18em;
	text-align: center;
}

section > img {
	width: 35%;
	border-radius: 50%;
	border: #505b7a 5px solid;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.12);
}

section > h2 {
	margin-top: 1em;
	color: white;
}

section > p {
	display: block;
	margin: 0.5em 0 1em 0;
	font-weight: lighter;
	color: #505b7a;
}

input:focus, #searchButton:focus, button:focus {
    outline-color: #d2e6e7;
    border-radius: 1em;
}

#searchForm {
	width: 100%;
	text-align: center;
	margin-top: 19em;
}

#searchForm.position {
	margin-top: 1em;
}


#searchForm > input {
	width: 70%;
	padding: 1.5em;
	font-family: 'glass';
	font-size: 14px;
	background-color: #626c88;
	color: white;
	margin-bottom: 3em;
	border-radius: 0.5em;
	border: #47a4a9 solid 2px;
}

#searchButton {
	padding: 1.5em;
	width: 40%;
	border: 0;
	border-radius: 0.5em;
	font-weight: bold;
	background-color: #47a4a9;
	color: white;
	font-size: 14px;
}

#searchButton:hover {
	background-color: #aee4e7;
	color: #1f273c;
}

.hideMyGifs {
	display: none;
}

.hideGifContainer {
	display: none;
}

ul {
	list-style: none;
	font-family: 'glass';
	color: #1f273c;
}


#searchGifContainer, #userGifContainer {
	width: 100%;
	margin-top: 3em;
	text-align: center;
}


.gifWrapper {
	width: 100%;
	background-color: #626c88;
	text-align: center;
	border: 1em solid #1f273c;
	box-sizing: border-box;
	position: relative;
	border-radius: 1.5em;
	padding-bottom: 2em;
}

#xCircle {
	font-family: 'glass';
	color: #1f273c;
	position: absolute;
	top: 0.5em;
	right: 0.5em;
}


li > img {
	width: 85%;
	margin-top: 2em;
	border-radius: 0.5em;
	border: #47a4a9 3px solid;
}

li > img:hover {
	box-shadow: 0 0 10px #d2e6e7;
}

.delete {
	font-size: 10px;
	padding: 0.5em;
	border-radius: 5%;
	background-color: #d7616c;
	border: 0;
	border-radius: 0.5em;
	font-weight: bold;
	color: white;
}


@media (min-width: 480px) { /* <----------------------- MIN-WIDTH 480px */

}
